<p class="text-l font-semibold">
  <%= t(".greeting", username: @user.username) %>
  <%= t(".instruction_html", password_reset_link: link_to(t(".password_reset_link"), edit_password_url(@user.password_reset_token))) %>
</p>
