<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Time to weigh your pet!</h1>
    <p>
      Hi <%= @user.username %>,
    </p>
    <p>
      This is a friendly reminder that it's time to weigh your pet.
    </p>
    <p>
      Thanks for using our service!
    </p>
  </body>
</html>
