<% content_for :title, "New #{@pet.petname.capitalize}'s health check" %>

<div class="container mx-auto md:w-2/3 w-full">

  <div class="flex flex-col md:flex-row justify-center items-center md:space-x-4 space-y-2 md:space-y-0 mb-4 font-bold"> 
    <h1 class="font-bold text-4xl">Add Annual Health Check-up Report</h1>
    
    <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
      width="40px" height="40px" viewBox="0 0 493 493" style="enable-background:new 0 0 493 493;" xml:space="preserve">
    <g>
      <path d="M413.5,0h-334C68.196,0,59,9.196,59,20.5v452c0,11.304,9.196,20.5,20.5,20.5h334c11.304,0,20.5-9.196,20.5-20.5v-452
        C434,9.196,424.804,0,413.5,0z M135.559,433.688c0-59.52,48.422-107.941,107.941-107.941s107.941,48.422,107.941,107.941
        c0,14.725-2.905,28.935-8.623,42.313H252v-19.214h15.921c4.694,0,8.5-3.806,8.5-8.5c0-4.694-3.806-8.5-8.5-8.5H219.08
        c-4.694,0-8.5,3.806-8.5,8.5c0,4.694,3.806,8.5,8.5,8.5H235V476h-90.819C138.463,462.623,135.559,448.412,135.559,433.688z
        M135.559,370.001v-76.306l62.438,23.477C171.672,327.328,149.68,346.06,135.559,370.001z M351.441,370.001
        c-14.122-23.941-36.113-42.673-62.438-52.829l62.438-23.477V370.001z M417,472.5c0,1.93-1.57,3.5-3.5,3.5h-52.467
        c4.914-13.853,7.409-28.77,7.409-43.433V281.418c0-2.789-1.368-5.4-3.662-6.988c-2.293-1.588-5.219-1.948-7.83-0.968
        l-96.658,36.395c-5.494-0.728-11.098-1.11-16.792-1.11c-5.617,0-11.145,0.371-16.568,1.079l-96.882-36.363
        c-2.609-0.982-5.536-0.62-7.83,0.968c-2.293,1.588-3.662,4.199-3.662,6.988v151.149c0,14.663,2.495,29.579,7.409,43.433H79.5
        c-1.93,0-3.5-1.57-3.5-3.5v-452c0-1.93,1.57-3.5,3.5-3.5h334c1.93,0,3.5,1.57,3.5,3.5V472.5z"/>
      <path d="M367.034,91.093H208.551c-4.694,0-8.5,3.806-8.5,8.5c0,4.694,3.806,8.5,8.5,8.5h158.483c4.694,0,8.5-3.806,8.5-8.5
        C375.534,94.898,371.728,91.093,367.034,91.093z"/>
      <path d="M183.676,59.496l-38.076,38.076l-11.624-11.624c-3.319-3.318-8.702-3.319-12.021,0.001c-3.319,3.319-3.319,8.701,0,12.021
        l17.635,17.634c1.66,1.659,3.835,2.489,6.01,2.489c2.175,0,4.351-0.83,6.01-2.489l44.086-44.086c3.32-3.319,3.32-8.702,0-12.021
        C192.377,56.178,186.996,56.178,183.676,59.496z"/>
      <path d="M367.034,201.564H208.551c-4.694,0-8.5,3.806-8.5,8.5c0,4.694,3.806,8.5,8.5,8.5h158.483c4.694,0,8.5-3.806,8.5-8.5
        C375.534,205.37,371.728,201.564,367.034,201.564z"/>
      <path d="M183.676,169.968l-38.076,38.076l-11.624-11.625c-3.319-3.318-8.701-3.318-12.021,0c-3.32,3.319-3.32,8.702,0,12.021
        l17.635,17.635c1.66,1.659,3.835,2.489,6.01,2.489c2.175,0,4.351-0.83,6.01-2.489l44.086-44.086c3.32-3.319,3.32-8.702,0-12.021
        C192.377,166.649,186.996,166.649,183.676,169.968z"/>
    </g>
    </svg>
  </div>


  <%= render "form", health_check: @health_check %>

  <div class="flex flex-col justify-center items-center gap-4 mb-4 pt-4 md:flex-row">
    <div class="flex justify-center">
      <%= button_tag "Add new report", type: "submit", form: "health-form", class: "btn text-center rounded-md px-3.5 py-2.5 text-white bg-softBlue hover:bg-white hover:text-softBlue hover:border-2 hover:border-softBlue inline-block font-medium cursor-pointer capitalize" %>
    </div>
    <div class="flex justify-center">
      <%= link_to "Back to #{@pet.petname.capitalize}'s health checks index", pet_health_checks_path, class: "text-center rounded-md px-3.5 py-2.5 text-white bg-gray-500 hover:bg-white hover:text-gray-500 hover:border-2 hover:border-gray-500 inline-block font-medium cursor-pointer capitalize" %>
    </div>
  </div>
  
</div>
