<div class="container flex flex-col mx-auto mb-4 rounded-lg shadow-md justify-center bg-gray-100 md:flex-row">
  <div class="flex items-center justify-center w-full space-x-4 md:justify-start">
    <%= image_tag('aji.jpg', class: "rounded-sm shadow-md border-b-4 relative z-10") %>
  </div>
 
  <div class="flex flex-col justify-center space-y-8 lg:mt-16 lg:w-1/2 lg:space-x-8">
    <h1 class="mx-auto py-4 text-2xl text-center font-bold lg:text-4xl lg:text-left md:text-lg">
      About Aji Tracker
    </h1>

    <p class="mx-auto text-lg text-center text-gray-400 lg:text-2xl lg:text-left md:text-sm">
      This app was born from my first mischievous feline, Aji - a ginger and white furball 
      with a surprisingly picky palate. Unlike most ginger cats, Aji has his own unique favorites
      that takes me a lot of time to find it out Aji loves chicken more than tuna or salmon. 
    </p>
    <p class="mx-auto text-lg text-center text-gray-400 lg:text-2xl lg:text-left md:text-sm">
      Initially, I used Excel sheet to track Aji's mean over time to notice the patterns. 
      What the pattern is when I gave him that he does not like it, he just skipped over 
      the entire meal and turn around....
    </p>

    <p class="mx-auto text-lg text-center text-gray-400 lg:text-2xl lg:text-left md:text-sm">
      However, using Excel to search and input manually everyday is tedious, and the most important
      is visualization the trends is hard.

      Then, Aji Tracker is aim to solve visualization of amount trends over time and organization
      the favorite table to keep Aji well-fed and live happily everyday.
    </p>
    <p class="mx-auto text-lg pb-4 text-center text-gray-400 lg:text-2xl lg:text-left md:text-sm">
      ✨ Want to join me? Sign up and try it yourself:

      If you're interested in learning more about cat eating behavior, I highly
      recommend consulting a professional. I personally found great insights from 
      <a href="https://www.petbuddytraining.com/" target="_blank" class="text-blue-400 underline decoration-2 decoration-blue-400">Pet Buddy Cat Behavior, LLC</a>
    </p>
  </div>
</div>