<div class="container mx-auto py-8">
  <h1 class="underline underline-offset-4 text-center text-3xl font-bold mb-4">Working on it!!! 🏃‍♂️‍➡️🏃‍♂️‍➡️🏃‍♂️‍➡️</h1>
  <div class="flex justify-center mb-4">
    <%= link_to "Go Back to Home", root_path, class: "text-center rounded-md px-3.5 py-2.5 text-white bg-grayishBlue hover:bg-white hover:text-grayishBlue hover:border-2 hover:border-grayishBlue inline-block font-medium cursor-pointer" %>
  </div>
</div>