<% content_for :title, "Dry Foods Storage" %>

<div class="container mx-auto w-full overflow-auto shadow-lg rounded-xl mb-4 md:w-2/3">
  <div class="flex flex-col justify-center items-center mb-3">
    <h1 class="text-center font-bold text-2xl mt-5 capitalize md:text-4xl">Dry foods Storage List</h1>
  </div>

  <div class="flex flex-row justify-center items-center space-x-3">
    <%= image_tag('add_dry_food_removebg.png', width:'50px', height: '50px') %>
    <%= link_to "add dry food", new_dry_food_path, class: "text-sky-500 text-lg underline decoration-2 decoration-sky-500 font-bold transition duration-300 ease-in-out hover:scale-110 capitalize md:text-xl" %>
  </div>

  <div id="dry_foods" class="min-w-full divide-y divide-gray-200 space-y-5">
    <% if @dry_foods.any? %>
      <% @dry_foods.each do |dry_food| %>
        <div class="flex flex-col sm:flex-row justify-between items-center pb-5 sm:pb-0">
          <%= render dry_food %>
          <div class="w-full sm:w-auto flex flex-col sm:flex-row space-x-2 space-y-2">
            <%= button_to "Destroy", dry_food, method: :delete, class: "w-full sm:w-auto rounded-md px-3.5 py-2.5 text-white bg-red-600 hover:bg-red-500 font-medium cursor-pointer", data: { turbo_confirm: "Are you sure?" } %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p class="text-center my-10">No dry foods found.</p>
    <% end %>
  </div>
</div>
